# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# zip
/zip

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.history

# secrets
secrets.*.js
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/Bookmarks-Centralized-Management-Chrome-Extension-master.iml
/.idea/modules.xml
/.idea/vcs.xml
